{% extends "template_base.html" %}

{% block title %}
    Categorias
{% endblock%}

{%block content%}
<div class="row">
    <div class="col-md-6">
        <h2>Gamas</h2>
        <ul class="list-group">
            {% for gama in gamas %}
                <li class="list-group-item">
                    <a href="{{ url_for('celulares_por_gama', gama_id=gama.id) }}">{{ gama.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Sistemas Operativos</h2>
        <ul class="list-group">
            {% for so in sistemas_operativos %}
                <li class="list-group-item">
                    <a href="{{ url_for('celulares_por_so', so_id=so.id) }}">{{ so.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}