{% extends "template_base.html" %}

{% block title %}
    Sist Op
{% endblock%}

{% block content %}
<div class="container mt-5">
    <h1>Celulares con {{ so.nombre }}</h1>
    <ul class="list-group">
        {% for celular in celulares %}
            <li class="list-group-item">
                {{ celular.modelo }} - {{ celular.marca.nombre }} - {{ celular.precio }} USD
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('categorias') }}" class="btn btn-primary mt-3">Volver</a>
</div>
{% endblock %}