{% extends 'base_template.html' %}

{% block title %}
    fabricantes
{% endblock %}

{% block content %}
    <div class="container">
            <div class="contenedor_general">
                <h4>Agregar Fabricante</h4>
                <h6>Nombre del Fabricante</h6>
                <form action="" method="post">  <!-- Asegurando la ruta de acción -->
                    <div class="form-check mb-2">
                        <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre" required>
                    </div>
                    <h6>Contacto</h6>
                    <div class="form-check mb-2">
                        <input type="email" name="contacto" class="form-control mb-2" placeholder="Email" required>
                    </div>
                    <h6>Localidad del Fabricante</h6>
                    <div class="form-check mb-2">
                        <input type="text" name="localidad" class="form-control mb-2" placeholder="Localidad" required>
                    </div>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </form>

            </div>
            <div class="contenedor_general">
                <h4>Listado de Fabricantes</h4>
                <ul>
                    {% for fabricante in fabricantes %}
                        <li><strong>{{ fabricante.nombre }}</strong> - {{ fabricante.contacto }} - {{ fabricante.localidad }}</li><span><a href="{{ url_for('editar_fabricantes', id=fabricante.id) }}">Editar</a><a href="{{ url_for('borrar_fabricantes', id=fabricante.id) }}">Borrar</a></span>
                    {% endfor %}
                </ul>
            </div>
    </div>

{% endblock %}