{% extends 'base_template.html' %}

{% block title %}
    Agregar Marcas
{% endblock %}

{% block content %}
    <div class="container">
        

        <div class="contenedor_general">
            <h4>Agregar Marca</h4>
            <form action="" method="post">
                {{ formulario.hidden_tag() }}
                {{formulario.nombre.label }}
                {{ formulario.nombre }}
                {{ formulario.submit }}
            </form>
        </div>
        <div class="contenedor_general">
            <h4>Listado de Marcas</h4>
            {% for marca in marcas %}
                <ul>
                    <li>
                        {{ marca.nombre }}
                    </li><span><a href="{{ url_for('editar_marcas', id=marca.id) }}">Editar</a><a href="{{ url_for('borrar_marcas', id=marca.id) }}">Borrar</a></span>
                </ul>
            {% endfor %}
        </div>
    
    </div>
{% endblock %}