{% extends "template_base.html" %}

{% block title %}
    Orden por Precios
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Ordenar por Precio</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="">Mas Bajo al más Alto</a>
            </li>
            <li class="list-group-item">
                <a href="">Mas Alto a más Bajo</a>
            </li>
            
        </ul>
    </div>
    <div class="col-md-6">
        
    </div>
</div>
{% endblock %}